<dialog [id]="dialogId()" class="modal" (close)="_dialogClosed()">
  <div class="modal-box">
      <form #f="ngForm">
        <h3 class="text-lg font-bold">{{ "dialogs.close-account.Title" | translate }}</h3>
        @if (accountDetails() === null) {
          @if (!scannerActive()) {
            <!-- AccountID -->
            <label class="form-control w-full mt-2">
              <div class="label">
                <span class="label-text">{{ "dialogs.close-account.LblAccountId" | translate }}</span>
              </div>
              <div class="join w-full">
                <input name="accountId" type="text" placeholder="cae595e7-d32c-4f6c-8bc1-5c18216cd9ec" required class="input input-bordered join-item w-full invalid:border-red-500" pattern="^[0-9a-f]{8}-[0-9a-f]{4}-[0-5][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$" [(ngModel)]="accountId" />
                <button class="btn btn-neutral join-item" type="button" (click)="showScanner()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 fill-neutral-content">
                    <path d="M80-680v-200h200v80H160v120H80Zm0 600v-200h80v120h120v80H80Zm600 0v-80h120v-120h80v200H680Zm120-600v-120H680v-80h200v200h-80ZM700-260h60v60h-60v-60Zm0-120h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60-60h60v60h-60v-60Zm120-120h60v60h-60v-60Zm-60 60h60v60h-60v-60Zm-60-60h60v60h-60v-60Zm240-320v240H520v-240h240ZM440-440v240H200v-240h240Zm0-320v240H200v-240h240Zm-60 500v-120H260v120h120Zm0-320v-120H260v120h120Zm320 0v-120H580v120h120Z"/>
                  </svg>
                </button>
              </div>
            </label>
          } @else {
            <zxing-scanner (scanSuccess)="onScanSuccess($event)" (scanError)="onScanError($event)" previewFitMode="scale-down"></zxing-scanner>
          }
        } @else {
          <div class="flex flex-col justify-between w-full items-center">
            <h3 class="text-4xl my-4">{{ accountDetails()?.HolderName }}</h3>
            <span class="text-6xl my-4">{{ (accountDetails()?.Balance ?? 0) / 100 | currency: 'EUR'}}</span>
            @if(accountDetails()?.Locked){
              <span class="badge badge-error badge-lg">{{ "dialogs.close-account.LblLocked" | translate }}</span>
            }
          </div>   
        }
        <div class="modal-action">
          @if (accountDetails() === null) {
            <button class="btn btn-secondary" [disabled]="f.invalid && !scannerActive() || isClosing()" (click)="closeAccount()">{{ "dialogs.close-account.BtnConfirm" | translate }}</button>
          }
          <form method="dialog">
            <button class="btn btn-outline btn-neutral">{{ "dialogs.close-account.BtnClose" | translate }}</button>
          </form>
        </div>
      </form>
  </div>
</dialog>