<div class="flex flex-col xl:flex-row">
  <div class="w-full xl:w-1/2 xl:mx-2 mb-20 xl:mb-0 px-2 xl:px-0">
    @for (category of sellerApi.getShopDetails().Categories | keyvalue; track $index) {
      @if (!checkCategoryEmpty(category.value)) {
        <div class="collapse collapse-arrow bg-base-100 border border-base-300 my-1">
          <input type="checkbox" />
          <div class="collapse-title font-semibold">{{ category.key }}</div>
          <div class="collapse-content text-sm flex flex-wrap">
            @for (article of category.value; track $index) {
              @if (article.StockAmount === null || article.StockAmount > 0) {
                <klcs-cashdesk-article [article]="article" (articleClicked)="addToShoppingCart($event)"/>
              }
            }
          </div>
        </div>
      }
    }
  </div>
  <div class="hidden xl:flex xl:w-1/2 flex-col xl:mx-2">
    <klcs-shopping-cart />
    <button class="btn btn-secondary btn-outline my-1" (click)="showCheckout(false)">Checkout Cash</button>
    <button class="btn btn-secondary btn-outline my-1" (click)="showCheckout(true)">Checkout Card</button>
    <klcs-checkout-dialog [dialogId]="CHECKOUT_DIALOG_ID" [withCard]="checkoutCard()"/>
  </div>

  <div class="xl:hidden flex flex-col footer justify-end fixed w-full bottom-0">
    <div class="w-full h-20 bg-secondary text-2xl flex items-center" (click)="showShoppingCartDialog()">
      <span class="font-bold underline underline-offset-4 ml-4">Total:</span>
      <span class="flex flex-grow justify-end mr-4">{{ shoppingCart.getSum() / 100 | currency: 'EUR' }}</span>
    </div>
  </div>
  <klcs-edit-cart-dialog [dialogId]="EDIT_CART_DIALOG_ID" />
</div>
