<div class="w-full h-full overflow-auto">
  @if (isAdmin()) {
    <div role="tablist" class="tabs tabs-bordered m-2">
      <input type="radio" name="my_tabs_2" role="tab" class="tab text-lg whitespace-nowrap" checked aria-label="Sell" />
      <div role="tabpanel" class="tab-content border-t-2">
        <klcs-cashdesk />
      </div>
    
      <input type="radio" name="my_tabs_2" role="tab" class="tab text-lg whitespace-nowrap" checked aria-label="Articles" />
      <div role="tabpanel" class="tab-content">
        <klcs-shop-articles [shopId]="shop().Id" [categories]="articles()" (articlesChanged)="refresh()"/>
      </div>
  
      <input type="radio" name="my_tabs_2" role="tab" class="tab text-lg whitespace-nowrap" checked aria-label="Printers" />
      <div role="tabpanel" class="tab-content">
        <klcs-shop-printers [shopId]="shop().Id"/>
      </div>
  
      <input type="radio" name="my_tabs_2" role="tab" class="tab text-lg whitespace-nowrap" checked aria-label="Users" />
      <div role="tabpanel" class="tab-content">
        <klcs-shop-users [shopId]="shop().Id" />
      </div>
    </div>
  } @else {
    <klcs-cashdesk />
  }
</div>
