<div class="w-full flex flex-col">
  @if (isAdmin()) {
    <div class="tabs tabs-lg tabs-bordered sticky top-0 z-10 bg-base-100">
      <a class="tab whitespace-nowrap" [class.tab-active]="currentTab() == 1" (click)="currentTab.set(1)">Sell</a>
      <a class="tab whitespace-nowrap" [class.tab-active]="currentTab() == 2" (click)="currentTab.set(2)">Articles</a>
      <a class="tab whitespace-nowrap" [class.tab-active]="currentTab() == 3" (click)="currentTab.set(3)">Printers</a>
      <a class="tab whitespace-nowrap" [class.tab-active]="currentTab() == 4" (click)="currentTab.set(4)">Users</a>
    </div>
    <div class="flex-grow">
      <div class="w-full" [hidden]="currentTab() != 1">
        <klcs-cashdesk [categories]="shop().Categories" />
      </div>
      <div class="w-full" [hidden]="currentTab() != 2">
        <klcs-shop-articles [hidden]="currentTab() != 2" [shopId]="shop().Id" [categories]="articles()" (articlesChanged)="refresh()"/>
      </div>
      <div class="w-full" [hidden]="currentTab() != 3">
        <klcs-shop-printers [shopId]="shop().Id"/>
      </div>
      <div class="w-full" [hidden]="currentTab() != 4">
        <klcs-shop-users [shopId]="shop().Id" />
      </div>
    </div>
  } @else {
    <klcs-cashdesk [categories]="shop().Categories" />
  }
</div>
