<dialog [id]="dialogId()" class="modal" (close)="dialogClosed.emit()">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Create Article</h3>
    <form class="mt-4" method="dialog" (submit)="createArticle()">
      <fieldset class="fieldset flex flex-col">
        <label class="fieldset-label m-2">Name</label>
        <input name="name" type="text" class="input input-bordered" placeholder="Name" [(ngModel)]="articleDetails.Name" required/>
        
        <label class="fieldset-label m-2">Description</label>
        <input name="description" type="text" class="input input-bordered" placeholder="Description" [(ngModel)]="articleDetails.Description"/>

        <label class="fieldset-label m-2">Category</label>
        <input name="category" type="text" class="input input-bordered" placeholder="Category" [(ngModel)]="articleDetails.Category"/>

        <label class="fieldset-label m-2">Price</label>
        <input name="price" type="number" class="input input-bordered" placeholder="Price" [(ngModel)]="priceUi" required min="0.01" step=".01" pattern="^\d+(?:\.\d{1,2})?$"/>

        <label class="fieldset-label m-2">Amount</label>
        <input name="amount" type="number" min="0" class="input input-bordered" placeholder="Amount" [(ngModel)]="articleDetails.StockAmount" required/>

        <label class="fieldset-label m-2">Printer</label>
        <select name="printer" class="select select-bordered" [(ngModel)]="printer" >
          <option [ngValue]="nonePrinter">{{ nonePrinter.Name }}</option>
          @for (p of printers(); track $index) {
            <option [ngValue]="p">{{ p.Name }}</option>
          }
        </select>
        
        <div class="modal-action">
          <button class="btn btn-secondary">Create</button>
          <form method="dialog" (submit)="init()">
            <button class="btn btn-outline btn-neutral">Close</button>
          </form>
        </div>
      </fieldset>
    </form>
  </div>
</dialog>
