<dialog [id]="dialogId()" class="modal" (close)="dialogClosed.emit()">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{ "dialogs.create-article.Title" | translate }}</h3>
    <form #f="ngForm" class="mt-4" method="dialog" (submit)="createArticle()">
      <fieldset class="fieldset flex flex-col">
        
        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblName" | translate }}</label>
        <input name="name" type="text" class="input input-bordered" [(ngModel)]="articleDetails.Name" required/>
        
        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblDescription" | translate }}</label>
        <input name="description" type="text" class="input input-bordered" [(ngModel)]="articleDetails.Description"/>

        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblCategory" | translate }}</label>
        <input name="category" type="text" class="input input-bordered" [(ngModel)]="articleDetails.Category" required/>

        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblPrice" | translate }}</label>
        <input name="price" type="number" class="input input-bordered" [(ngModel)]="priceUi" required min="0.01" step=".01" pattern="^\d+(?:\.\d{1,2})?$"/>

        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblAmount" | translate }}</label>
        <input name="amount" type="number" min="0" class="input input-bordered" [(ngModel)]="articleDetails.StockAmount"/>

        <label class="fieldset-label m-2">{{ "dialogs.create-article.LblPrinter" | translate }}</label>
        <select name="printer" class="select select-bordered" [(ngModel)]="printer" >
          <option [ngValue]="nonePrinter">{{ nonePrinter.Name }}</option>
          @for (p of printers(); track $index) {
            <option [ngValue]="p">{{ p.Name }}</option>
          }
        </select>
        
        <div class="modal-action">
          <button class="btn btn-secondary" [disabled]="f.invalid">{{ "dialogs.create-article.BtnCreate" | translate }}</button>
          <form method="dialog" (submit)="init()">
            <button class="btn btn-outline btn-neutral">{{ "dialogs.create-article.BtnClose" | translate }}</button>
          </form>
        </div>
      </fieldset>
    </form>
  </div>
</dialog>
